.main{
    background-color: rgb(236, 240, 239);
    height: auto;
}

.listing-photo{
    width: 150px;
    height: 120px;
    border-radius: 20px 20px 0 0;
}

.listing-photo:hover{
    border: 1px solid goldenrod;
    transition: ease-in-out 100ms;
}

.listing-heading{
    color: rgb(4, 194, 178);
    margin-left: 10px;
}

.listing-location{
    color: rgb(11, 164, 175);
    margin-left: 10px;
}

.listing{
    background-color: rgba(245, 245, 245, 0.699);
    border-radius: 20px;
    margin: 5px;
}
